[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
isort = "*"

[packages]
slackclient = "==1.2.1"
flask = "*"
gunicorn = "*"
flask-api = "*"
python-dotenv = "*"
flask-pymongo = "*"
pymodm = "*"
sentry-sdk = {extras = ["flask"],version = "==1.14.0"}

[requires]
python_version = "3.7"
