@font-face {
    font-family: 'Amaranth';
    src: url('/static/Amaranth-Regular.ttf');
}

@font-face {
    font-family: 'Graphik';
    src: url('/static/Graphik-Regular.otf');
}

:root {
    --primary-color: #E89533;
    --light-color: #f8f8f8;
    --dark-color: #000;
    --secondary-color: #334660;
}

* {
    font-family: 'Graphik', sans-serif;
    box-sizing: border-box;
    color: var(--secondary-color);
    transition: all 1s ease-in;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: top !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.folly__navigation {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.folly_logo {
    margin-left: 0.5rem;
    height: 3rem;
}

.folly__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.folly_main_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folly_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.folly_text_logo {
    margin: 2rem 0;
    width: 80px;
    border-radius: 20%;
}

.folly_text {
    margin-left: 20px;
    font-size: 5rem;
    font-family: 'Amaranth';
    color: var(--primary-color);
}

.folly__header {
    font-size: 3rem;
    text-align: center;
}

.folly__description {
    color: rgba(59,80,108,0.70);
    margin-bottom: 3rem;
    text-align: justify;
    font-size: 1.5rem;
}

.folly_link {
    background: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 7px;
    text-decoration: none;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 300px;
}

.folly__footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    bottom: 0;
    font-size: 1.5rem;
}

.folly__footer span {
    margin: 2px 4px;
}

.folly__footer a {
    color: var(--dark-color);
    text-decoration: underline;
}

#current_date {
    margin-right: 0;
}

.folly__success_img {
    width: 500px;
}

.folly_success_text, .folly_error_text {
    font-size: 2rem;
}

.slack_logo {
    margin-right: 10px;
}

.folly_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (min-width: 1025px) {
    .folly__content {
        display: flex;
        flex-direction: row;
    }

    .folly__footer {
        font-size: 0.9rem;
    }

    .folly_main_description {
        align-items: flex-start;
    }

    .folly__header {
        text-align: left;
        font-size: 2rem;
    }

    .folly__description {
        font-size: 1rem;
    }

    .folly_link {
        font-size: 17px;
        width: 200px;
    }
}
