<html>
    <head>
        <title>folly | {{title}}</title>
        <link href="{{ url_for('static', filename='main.min.css') }}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <meta name="slack-app-id" content="AMF6S0LJ2">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body style="background: url('{{ url_for('static', filename='curve.svg') }}"')">
        {% block content %}
        {% endblock content %}
        <section class="folly__footer">
            <span>Copyright &#xa9;<span id="current_date"></span></span>
            <span>&#8226;</span>
            <a href="https://patreon.com/cooproton" target="_blank" rel="noopener noreferrer"> Support via Patreon</a>
            <span>&#8226;</span>
            <a href="/privacy">Privacy Policy</a>
        </section>
        <script>
            const dateContainer = document.getElementById('current_date');
            dateContainer.innerHTML = new Date().getFullYear();
        </script>

        {% if env == "production" %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48710501-6"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', "{{ ga_id }}");
            </script>
        {% endif %}
    </body>
</html>
