{% extends 'base.html' %}

{% block content %}
<section class="folly__content">
    <section class="folly_body">
        <a href="/" class="folly_logo_container">
            <img class="folly_text_logo" src="{{ url_for('static', filename='folly.svg') }}" />
            <span class="folly_text">Folly</span>
        </a>
        <p class="folly_error_text">Folly encountered an error. 😞😞 <br />Please try again</p>
        <p>{{error_message}}</p>
        <a href="/" class="folly_link">Go Home!</a>
    </section>

    <img class="folly__success_img" src="{{ url_for('static', filename='error.gif') }}" />
</section>
{% endblock %}
